@import '../../variables.scss';

div .navbar-container {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    width: auto;
    height: 75px;
    border-bottom: 1px solid $input-background;
    -webkit-box-shadow: 1px 7px 13px -6px rgba(0,0,0,0.41); 
    box-shadow: 1px 7px 13px -6px rgba(0,0,0,0.41);

    ul {
        display: flex;
        flex-basis: 35%;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 0;

        li {
            list-style-type: none;
        }

        a {
            text-decoration: none;
            color: #fff;
            transition: 150ms ease-in;

            &:hover {
                color: rgba(52, 135, 216, 0.8)
            }

            &:active, &:focus {
                color: #fff;
            }  
        }
    }
}